<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <!-- User profile image -->
    
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Configuracion </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Perfil </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Desabilitar notificaciones </button>
        <button mat-menu-item (click)="Close_session()">
            <mat-icon>exit_to_app</mat-icon> Cerrar sesion </button>
    </mat-menu>
    
</div>
<mat-nav-list appAccordion style="margin-top:30px">
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link' && enable(menuitem.enable)">
            <mat-icon [ngStyle]="{'color':color[menuitem.index]}">{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon style="color:white;margin-right: 0.5px">navigate_next </mat-icon>  
        </a>
        
        
    </mat-list-item>

</mat-nav-list>