
.example-container .mat-radio-button {
    margin: 0 5px;
  }

.card-container {
    display: flex;
    justify-content: space-between;
}

#payment{
  white-space:nowrap;
  margin-top: 20px;
}

table {
  width: 60%;
  margin-top: 30px;
}


.mat-form-field{
  margin-top: 30px;
  white-space:nowrap;
}

#Controls{
  margin-top: 30px;
}

#button{
  margin-left: 30px;
}