
.example-container .mat-radio-button {
    margin: 0 5px;
  }

.card-container {
    display: flex;
    justify-content: space-between;
}

#payment{
    display:flex;
}

table {
  width: 60%;
  margin-top: 30px;
}

.mat-button{
  margin-top: 30px;
}

