<mat-card>
  <mat-card-content>
    <mat-card-title>Formulario de cierre de caja</mat-card-title>
    <mat-card-subtitle>Presente los datos detallados del dia de hoy</mat-card-subtitle>
    <div class="card-container">
        <form [formGroup]="Form" class="example-container" >
            <div>
              <label>
                Venta total:
              </label>
              <mat-radio-group formControlName="type">
                <mat-radio-button value="Online">Online</mat-radio-button>
                <mat-radio-button value="Contingencia">Contingencia</mat-radio-button>
                <mat-radio-button value="Manual">Manual</mat-radio-button>
              </mat-radio-group>
            </div>
      
            <h4>Total de venta:</h4>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Total de venta" class="example-right-align" type="number" formControlName="sale" (keyup)="onKey($event)">
              <span matPrefix>$  &nbsp;</span>
            </mat-form-field>            
          </form>
    </div>

    <h4>Distribucion de venta:</h4>
    <table mat-table [dataSource]="Source" class="mat-elevation-z8" >         
        <ng-container matColumnDef="PAGO">>
          <th mat-header-cell *matHeaderCellDef> PAGO </th>
          <td mat-cell *matCellDef="let element">{{element.tipo}} </td>
          <td mat-footer-cell *matFooterCellDef> <strong>TOTAL</strong> </td>
        </ng-container>

        <ng-container matColumnDef="CANTIDAD">
            <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
            <td mat-cell *matCellDef="let element">  
                <input matInput placeholder="$ 0.000" (blur)="getCost($event)">
            </td>
            <td mat-footer-cell *matFooterCellDef> $ {{cost}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table> 

      <button mat-button (click)="Save()">Guardar </button>
  </mat-card-content>
</mat-card>