<mat-card>
  <mat-card-content>
    <mat-card-title>Productos De Baja Rotacion</mat-card-title>
    <mat-card-subtitle>Se presentara las ventas detallada de productos en 3 periodos de tiempo</mat-card-subtitle>

    <div id="Filtering">
      Tienda:
      <select id="store" (change)="loading($event)">
        <option value=" "> </option>
        <ng-container *ngFor="let tiendas of Store">
          <option  value={{tiendas}} *ngIf="tiendas!='001       '">{{tiendas}}</option>
        </ng-container> 
      </select> 
      <button mat-raised-button color="primary" (click)="exportAsExcel()" id="Download" >Export as Excel</button>
    </div>


    <table mat-table [dataSource]="Source" class="mat-elevation-z8" id="Table">

      <ng-container matColumnDef="PRODUCTO">
        <th mat-header-cell *matHeaderCellDef> Referencia </th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>

      <ng-container matColumnDef="HACE 2 MESES">
        <th mat-header-cell *matHeaderCellDef="let element"> HACE 2 MESES </th>
        <td mat-cell *matCellDef="let element"> {{element[6]}} </td>
      </ng-container>

      <ng-container matColumnDef="HACE 1 MES">
        <th mat-header-cell *matHeaderCellDef> HACE 1 MESES </th>
        <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
      </ng-container>

      <ng-container matColumnDef="MES ACTUAL">
        <th mat-header-cell *matHeaderCellDef> MES ACTUAL </th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>

      <ng-container matColumnDef="ROTAR">
        <th mat-header-cell *matHeaderCellDef> ROTAR </th>
        <td mat-cell *matCellDef="let element" > 
          <ng-container *ngIf="element[2]==element[6] && element[2]==element[4]">
            ROTAR
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="Header"></tr>
      <tr mat-row *matRowDef="let row; columns: Header;"></tr>

    </table>

    
  </mat-card-content>
</mat-card>