table {
    width: 100%;
    margin-top: 30px;
  }

#Filtering{
  float:left;
  display: none;
}

#Download{
  display: none;
}

button{
  margin-left: 30px;
  margin-top: 30PX;
}

#Marca{
  float:left;

}

#store{
  margin-top: 30px;
}

#brand{
  margin-top: 30px;
}

.mat-checkbox{
  display: block;
}

