<mat-card>
  <mat-card-content>
    <mat-card-title>Productos De Baja Rotacion</mat-card-title>
    <mat-card-subtitle>Se presentara las ventas detallada de productos en 3 periodos de tiempo</mat-card-subtitle>
    


    <mat-tab-group>
      <mat-tab label="Baja rotacion por tienda">
        <div id="loading">
          <img src="../../../assets/images/loading2.gif" width="60px">
        </div>

        <div id="Filtering">
          Tienda:
            <select id="store" (change)="applyFilter()" [(ngModel)]="IdCO" >
                <option value=" "> </option>
            <ng-container *ngFor="let tiendas of Store">
              <option  value={{tiendas}} *ngIf="tiendas!='001       '">{{tiendas}}</option>
            </ng-container> 
          </select>
        </div>
        <button mat-raised-button color="primary" (click)="exportAsExcel()" id="Download" >Exportar a Excel</button>
        
        <div id="info" style="display:none; margin-top:30px">
          No hay referencia en baja rotacion
        </div>

        <table mat-table [dataSource]="Source" class="mat-elevation-z8" id="Table" style="display: none;">

          <ng-container matColumnDef="CO">
            <th mat-header-cell *matHeaderCellDef> CO </th>
            <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="REFERENCIA">
            <th mat-header-cell *matHeaderCellDef> REFERENCIA </th>
            <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="HACE 2 MESES">
            <th mat-header-cell *matHeaderCellDef="let element"> HACE 2 MESES </th>
            <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="HACE 1 MES">
            <th mat-header-cell *matHeaderCellDef> HACE 1 MESES </th>
            <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="MES ACTUAL">
            <th mat-header-cell *matHeaderCellDef> MES ACTUAL </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
          </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="Header"></tr>
          <tr mat-row *matRowDef="let row; columns: Header;"></tr>
        </table>
      </mat-tab>
      
      <mat-tab label="Baja rotacion por marca">

        <div id="Marca">
          Marca:
          <select id="brand" (change)="Filter()" [(ngModel)]="Brand"> 
            <option value=" "> </option>
            <option value="EA7"> EA7 </option>
            <option value="LACO"> LACO </option>
            <option value="NEW"> NEW </option>
          </select> 
        </div>
        <div id="spinner">
          <img src="../../../assets/images/loading2.gif" width="60px">
        </div>
        <table mat-table [dataSource]="DataSource" class="mat-elevation-z8" id="Abs" style="display:table">
  
          <ng-container matColumnDef="MARCA">
            <th mat-header-cell *matHeaderCellDef> MARCA </th>
            <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="ITEM">
            <th mat-header-cell *matHeaderCellDef> ITEM </th>
            <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="REFERENCIA">
            <th mat-header-cell *matHeaderCellDef> REFERENCIA </th>
            <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="HACE 2 MESES">
            <th mat-header-cell *matHeaderCellDef> HACE 2 MESES </th>
            <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="HACE 1 MES">
            <th mat-header-cell *matHeaderCellDef> HACE 1 MES</th>
            <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
          </ng-container>
    
          <ng-container matColumnDef="MES ACTUAL">
            <th mat-header-cell *matHeaderCellDef> MES ACTUAL </th>
            <td mat-cell *matCellDef="let element"> {{element[5]}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="header"></tr>
          <tr mat-row *matRowDef="let row; columns: header;"></tr>
        </table>
          
      </mat-tab>
    </mat-tab-group>

  
      
      
      
      
  
      
  </mat-card-content>
</mat-card>