body {font-family: Arial, Helvetica, sans-serif; background: white}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid  #e5e8e8 ;
}

input[type=text]:focus {
  border-bottom: 2px solid  #13f12e ;
}

input[type=password]:focus {
  border-bottom: 2px solid  #13f12e ;
}

.container {
  width: 500px;
  text-align: center;
  padding-top: 150px;
  position: fixed;
  top: 300px;
  left: 500px;
  margin: 0 auto;
}

button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 320px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  font-size: 20px;
}


img{
  position: fixed;
  left: 580px;
  top: 80px;
  width: 300px;
}

