<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form>    
    <div>
      <img src="../../assets/images/Logo.png">
    </div>
    <div id="container" class="container">
        <form [formGroup]="log" (ngSubmit)="SearchUser()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" formControlName="user">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" type="password" formControlName="password">
          </mat-form-field>

          <button type="submit" >Login</button>

          <p id="error" style="color:red; display:none">El Usuario o Contraseña son incorrectos, por favor intenta de nuevo</p>
        </form>
    </div>
  
  </form>
    
    </body>
    </html>
    