.card-container {
    display: flex;
    justify-content: space-between;
}

.mat-select{
    width: 400px;
}

table {
    width: 40%;
    margin-top: 30px;
  }

  #close_box{
    position: static;
    display: none;
    left: 840px;
    top: 580px;
  }
  
  #delete{
    position: static;
    display: none;
    left: 840px;
    top: 680px;
  }
  
  #Close{
    position: static;
    display: none;
    left: 980px;
    top: 220px;
  }

  #CreateBox{
    position: static;
    display: none;
    left: 980px;
    top: 320px;
  }

  #Tables{
    display: none;
  }
  
#Message{
  display: none;
}

tr.mat-footer-row {
  font-weight: bold;
}