.mat-form-field{
    margin-top: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

table {
  width: 100%;
  margin-top: 30px;
}

.container-table{
    margin-top: 30px;
}