<mat-card>
  <mat-card-content>
    <mat-card-title>Liquidacion</mat-card-title>
    <div class="card-container">
      <form [formGroup]="Form" class="example-container" (ngSubmit)="Search()">

        <mat-form-field >
          <mat-select placeholder="Centro de operacion" formControlName="co">
            <mat-option *ngFor="let temp of store" [value]="temp.split('-')[0].trim()"> {{temp}} </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field >
          <mat-select placeholder="Cargo" formControlName="position">
            <mat-option value=1> Administrador </mat-option>
            <mat-option value=0.35> Senior </mat-option>
            <mat-option value=0.35> Junior </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="año" formControlName="year">
        </mat-form-field>

        <mat-form-field >
          <mat-select placeholder="Mes" formControlName="month" (selectionChange)="seller()">
            <mat-option value="01"> Enero </mat-option>
            <mat-option value="02"> Febrero </mat-option>
            <mat-option value="03"> Marzo </mat-option>
            <mat-option value="04"> Abril </mat-option>
            <mat-option value="05"> Mayo </mat-option>
            <mat-option value="06"> Junio </mat-option>
            <mat-option value="07"> Julio </mat-option>
            <mat-option value="08"> Agosto </mat-option>
            <mat-option value="09"> Septiembre </mat-option>
            <mat-option value="10"> Octubre </mat-option>
            <mat-option value="11"> Noviembre </mat-option>
            <mat-option value="12"> Diciembre </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-select placeholder="Vendedor" formControlName="seller" [disabled]="test()">
              <mat-option *ngFor="let temp of sellerList" [value]="temp[0]"> {{temp[0]}} </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" id="submit">Consultar</button>
      </form>
    </div>

    <div class="container-table" *ngIf="hidden">
      <h4>Cumplimiento mensual</h4>
      <table mat-table [dataSource]="Source" id="Table">         

        <ng-container matColumnDef="CO">
          <th mat-header-cell *matHeaderCellDef> CO </th>
          <td mat-cell *matCellDef="let element">{{element[0]}} </td>
        </ng-container>
  
        <ng-container matColumnDef="VENDEDOR">
          <th mat-header-cell *matHeaderCellDef> VENDEDOR </th>
          <td mat-cell *matCellDef="let element">{{element[1]}} </td>
        </ng-container>

        <ng-container matColumnDef="VENTA">
          <th mat-header-cell *matHeaderCellDef> VENTA </th>
          <td mat-cell *matCellDef="let element">

            <ng-container *ngIf="this.Form.controls['position'].value==1; else Else">
              <p> {{element[2]}} </p>
            </ng-container>

            <ng-template #Else>
              <p> {{element[6]}}</p>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="META">
          <th mat-header-cell *matHeaderCellDef> META </th>
          <td mat-cell *matCellDef="let element">{{element[3]}} </td>
        </ng-container>

        <ng-container matColumnDef="INCENTIVOS">
          <th mat-header-cell *matHeaderCellDef> INCENTIVOS </th>
          <td mat-cell *matCellDef="let element">
   
            <ng-container *ngIf="Apply(element[5])==0">
              <p style="color:green"><b> Aplica</b></p>
            </ng-container>
              
            <ng-container *ngIf="Apply(element[5])==1">
              <p style="color:#FF0000"><b> No aplica </b></p>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="CUMPLIMIENTO TIENDA">
            <th mat-header-cell *matHeaderCellDef> CUMPLIMIENTO TIENDA</th>
            <td mat-cell *matCellDef="let element">
  
              <ng-container *ngIf="Parse(element[5])==2">
                <p style="color:yellowgreen"><b>{{element[5]}}</b></p>
              </ng-container>
      
              <ng-container *ngIf="Parse(element[5])==1">
                <p style="color:green"><b>{{element[5]}}</b></p>
              </ng-container>
                
              <ng-container *ngIf="Parse(element[5])==3">
                <p style="color:#FF0000"><b>{{element[5]}}</b></p>
              </ng-container>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="DisplayColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: DisplayColumns;" ></tr>
      </table> 

    </div>

    <div class="container-table" *ngIf="hidden">
      <h4>Cumplimiento semanal</h4>
      <table mat-table [dataSource]="DataSource">         

        <ng-container matColumnDef="CO">
          <th mat-header-cell *matHeaderCellDef> CO </th>
          <td mat-cell *matCellDef="let element">{{element[0]}} </td>
        </ng-container>
  
        <ng-container matColumnDef="VENDEDOR">
          <th mat-header-cell *matHeaderCellDef> VENDEDOR </th>
          <td mat-cell *matCellDef="let element">{{element[1]}} </td>
        </ng-container>

        <ng-container matColumnDef="SEMANA">
          <th mat-header-cell *matHeaderCellDef> SEMANA </th>
          <td mat-cell *matCellDef="let element">{{element[3]}} </td>
        </ng-container>

        <ng-container matColumnDef="VENTA">
          <th mat-header-cell *matHeaderCellDef> VENTA </th>
          <td mat-cell *matCellDef="let element">{{element[2]}} </td>
        </ng-container>


        <ng-container matColumnDef="META">
          <th mat-header-cell *matHeaderCellDef> META </th>
          <td mat-cell *matCellDef="let element">{{element[4]}} </td>
        </ng-container>

        <ng-container matColumnDef="CUMPLIMIENTO">
          <th mat-header-cell *matHeaderCellDef> CUMPLIMIENTO </th>
          <td mat-cell *matCellDef="let element">

              <ng-container *ngIf="Parse(element[5])==2">
                  <p style="color:yellowgreen"><b>{{element[5]}}</b></p>
                </ng-container>
        
                <ng-container *ngIf="Parse(element[5])==1">
                  <p style="color:green"><b>{{element[5]}}</b></p>
                </ng-container>
                  
                <ng-container *ngIf="Parse(element[5])==3">
                  <p style="color:#FF0000"><b>{{element[5]}}</b></p>
                </ng-container>

          </td>
        </ng-container> 

        <ng-container matColumnDef="CUMPLIMEINTO TIENDA">
          <th mat-header-cell *matHeaderCellDef> CUMPLIMIENTO TIENDA</th>
          <td mat-cell *matCellDef="let element">

              <ng-container *ngIf="Parse(element[6])==2">
                  <p style="color:yellowgreen"><b>{{element[6]}}</b></p>
                </ng-container>
        
                <ng-container *ngIf="Parse(element[6])==1">
                  <p style="color:green"><b>{{element[6]}}</b></p>
                </ng-container>
                  
                <ng-container *ngIf="Parse(element[6])==3">
                  <p style="color:#FF0000"><b>{{element[6]}}</b></p>
                </ng-container>

          </td>
        </ng-container> 

        <ng-container matColumnDef="INCENTIVOS">
          <th mat-header-cell *matHeaderCellDef> INCENTIVOS</th>
          <td mat-cell *matCellDef="let element">

            <ng-container *ngIf="Verify(element[5],element[6])==0">
              <p style="color:green"><b> Aplica</b></p>
            </ng-container>
              
            <ng-container *ngIf="Verify(element[5],element[6])==1">
              <p style="color:#FF0000"><b> No aplica </b></p>
            </ng-container>

          </td>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="Columns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns:Columns;" ></tr>
      </table> 

    </div>
  </mat-card-content>
  <div>
    <p style="color:red"> Estos valores son sujetos a cambios, los valores reales seran proporcionados por cguno</p>
  </div>
</mat-card>
