.mat-table {
  min-width: auto !important;
  width: 150% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

.mat-select{
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
}

.example-container {
  overflow: auto;
  margin-top: 30px;
}

.mat-column{
  flex: 0 0 25% !important;
  min-width: 200px !important;
}
.mat-column-VEND_CC {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-co {
  flex: 0 0 25% !important;
  min-width: 104px !important;
}

.mat-column-VEND_CC_DESC {
  flex: 0 0 25% !important;
  min-width: 290px !important;
}