<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <form>    
    <div>
      <img src="assets/images/Logo.png">
    </div>
    <div id="container" class="container">
        <form [formGroup]="form" (ngSubmit)="SearchUser()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Usuario" formControlName="user" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.controls['user'].hasError('required')">
              El Usuario es <strong>requirido</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" type="password" formControlName="password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              La contraseña es <strong>requirido</strong>
            </mat-error>
          </mat-form-field>

          <button type="submit" >Login</button>

          <p id="error" style="color:red; display:none">El Usuario o Contraseña son incorrectos, por favor intenta de nuevo</p>
        </form>
    </div>
  
  </form>
    
    </body>
    </html>
    