<mat-card>
  <mat-card-content>
    <mat-card-title>Creacion De Despachos</mat-card-title>
    <mat-card-subtitle>Aqui se registrara los productos a transportar</mat-card-subtitle>
    <div class="card-container">
      <div id="Form">
          <form [formGroup]="form" (ngSubmit)="Display()">
            <h4>Tienda de destino:</h4>
            <mat-form-field >
              <mat-select placeholder="Escoge la Tienda de destino" (selectionChange)="Reference($event.value)" formControlName="st" [disabled]="DisableSelect">
                <mat-option *ngFor="let temp of store" [value]="temp">
                  {{temp}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          
            <h4>Cantidad de producto en la caja:</h4>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Numero de productos" formControlName="stor" (keyup)="onKey($event)">
            </mat-form-field>
            <button mat-button type="submit">CREAR</button>
          </form>
          
      </div>

      <div id="Message">
        <h4>Despacho de {{CountProduct}} unidades a la tienda {{store_usr[1] }}</h4> 
      </div>
      <div>
        <mat-card>
          <mat-card-title>REFERENCIA</mat-card-title>
          <mat-card-title>{{ref}}</mat-card-title>
        </mat-card>
      </div>  
    </div>

    
    <div class="card-container" id="Tables" >
      <table mat-table [dataSource]="Source" class="mat-elevation-z8" >         
        <ng-container matColumnDef="Select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="Codigo de barras">
          <th mat-header-cell *matHeaderCellDef> Codigo de barras </th>
          <td mat-cell *matCellDef="let element" contenteditable="true" (keyup)="Add_product()" id="edit">
            <ng-container *ngIf="element.cod=='empty' || element.cod!='empty'"> </ng-container>
            <ng-container *ngIf="element.cod!='empty'">
                {{element.cod}}
              </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element" > 
            <ng-container *ngIf="element.cod!='empty'">
              {{element.cantidad}}
            </ng-container>
            <ng-container *ngIf="element.cod=='empty'">
                0
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      </table> 

      <div>
        <mat-button-toggle id="delete" (click)="Delete_product()">Eliminar</mat-button-toggle>
        <mat-button-toggle id="close_box" (click)="SaveBox()" >Cerrar caja</mat-button-toggle>
        <mat-button-toggle id="Close" (click)="Close()">Cerrar despacho</mat-button-toggle>
        <mat-button-toggle id="CreateBox" (click)="NewBox()">Crear Caja</mat-button-toggle>
      </div>
      <table mat-table [dataSource]="Data" class="mat-elevation-z8" >

        <ng-container matColumnDef="Referencia">
          <th mat-header-cell *matHeaderCellDef> Referencia </th>
          <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.ref!='empty'">
                  {{element.ref}}
              </ng-container> 
          </td>
          <td mat-footer-cell *matFooterCellDef> Total </td>
        </ng-container>

        <ng-container matColumnDef="Unidades">
          <th mat-header-cell *matHeaderCellDef> Unidades </th>
          <td mat-cell *matCellDef="let element" > 
            <ng-container *ngIf="element.ref!='empty'">
                {{element.und}}
            </ng-container> 
          </td>
          <td mat-footer-cell *matFooterCellDef> {{element}}</td>
        </ng-container>      
        <tr mat-header-row *matHeaderRowDef="labelColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: labelColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="labelColumns"></tr>
      </table> 
    </div>
        
  </mat-card-content>
</mat-card>