        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
{{nom}}
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" style="margin-left:10px"> <ngx-avatar size="40" name="{{nom}}" bgColor="#525151"></ngx-avatar></button>

<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configuracion </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Desabilitar Notificaciones </button>
    <button mat-menu-item (click)="Close_session()">
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesion </button>
</mat-menu>

