.card-container {
    display: flex;
    justify-content: space-between;
}

.mat-select{
    width: 400px;
}

table {
    width: 40%;
    margin-top: 30px;
  }

  #close_box{
    position: static;
    display: none;
    left: 840px;
    top: 580px;
  }
  
  #delete{
    position: static;
    display: none;
    left: 840px;
    top: 680px;
  }
  
  #finish{
    position: static;
    display: none;
    left: 840px;
    top: 220px;
  }
  