body{
    padding: 40px;
    background: white;
    margin: 0%;
    height: 100%;
}

#Ref{
    font-size: 34px;
    text-align: right;
    margin-left: 50px;
}

#product{
    position: fixed;
    top: 200px;
}
#Register{
    display: none;
}
#summary{
    display: none;
    position: fixed;
    left: 1000px;
    top: 340px;
    width: 50%;
}

#checkButton{
    position: fixed;
    top: 300px;
    left: 700px;
    
}

#delete{
    position: fixed;
    left:900px;
    top: 400px;
    width: 80px;
    border: none;
    padding: 10px 3px;
    display: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;    
}

#create_box{
    position: fixed;
    left:800px;
    top: 480px;
    width: 80px;
    border: none;
    padding: 10px 3px;
    display: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;    
}
#close_box{
    position: fixed;
    left:900px;
    top: 490px;
    width: 80px;
    border: none;
    padding: 10px 3px;
    display: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;    
}


#finish{
    position: fixed;
    left:800px;
    top: 570px;
    width: 80px;
    border: none;
    padding: 10px 3px;
    display: none;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;    
}
#table{
    float: left;
    background: white;
}
table {
    
    font-family: arial, sans-serif;
    width: 40%;
    text-align: center;
}

#description{
    font-family: arial, sans-serif;
    width: 40%;
    text-align: center;
    left: 2500px;
}

#transport{
    display: none;
    padding: 50px 50px;
    margin-top: 50px;
}
th {
    border: 1px solid #dddddd;
    text-align: center; 
    text-transform: uppercase;
    width: 30px;  
    height: 20px;
    background-color: #4CAF50;
    color: white;
}
  
td {
    border: 1px solid #dddddd;
    text-align: left; 
    text-transform: uppercase;
    width: 30px;  
    height: 20px;
}

tr:hover {
    background-color:#f5f5f5;
}

#message{
    font-size: 30px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 250px;
    top: 200px;
    height: 500px;
    width: 600px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 500px;
    max-height: 200px;
    padding: 50px;
    background-color: white;
  }

  .form-container input[type=text], .form-container select {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }