

<mat-card>
  <mat-card-content>    
  <mat-card-title>Despacho Disponibles</mat-card-title>
  <mat-card-subtitle>Aqui encontrara los despachos pendientes</mat-card-subtitle>

  <div id="Filtering">
    Tienda de destino:
    <select id="store" (change)="applyFilter($event)">
      <option value=" "> </option>
      <option *ngFor="let tiendas of Store" value={{tiendas}}>{{tiendas}}</option>
    </select> 
  </div>

  <table mat-table [dataSource]="Source" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
    </ng-container>
  

  

    <ng-container matColumnDef="Origen">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
    </ng-container>
  

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
    </ng-container>

    <ng-container matColumnDef="Cajas">
      <th mat-header-cell *matHeaderCellDef> Cajas </th>
      <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Unidades">
      <th mat-header-cell *matHeaderCellDef> Unidades </th>
      <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
    </ng-container>

    <ng-container matColumnDef="Verificar">
      <th mat-header-cell *matHeaderCellDef> Verificar </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element[2]=='TRANSPORTE'">
          <a routerLink="/check/{{element[0]}}/{{element[3]}}">Verificar</a>
        </ng-container>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
