<mat-card>
  <mat-card-content>
    <mat-card-title>Presupuesto</mat-card-title>
    <mat-card-subtitle>Aqui se presentara los presupuesto detallado por fecha</mat-card-subtitle>
    
    <div id="Filtering">
      <ng-container *ngIf="id=='001'">
          CO:
        <select  [formControl]="CoFilter" (change)="applyFilter()">
          <option value=" ">None </option>
          <option *ngFor="let tiendas of Store" value={{tiendas}}>{{tiendas}}</option>
        </select> 
      </ng-container>  
      <ng-container >
        Periodo:
      <select [formControl]="DateFilter" (change)="applyFilter()">
        <option value=" "> None</option>
        <option value="01"> Enero </option>
        <option value="02"> Febrero</option>
        <option value="03"> Marzo </option>
        <option value="04"> Abril</option>
        <option value="05"> Mayo</option>
        <option value="06"> Junio</option>
        <option value="07"> Julio</option>
        <option value="08"> Agosto</option>
        <option value="09"> Septiembre</option>
        <option value="10"> Octubre</option>
        <option value="11"> Noviembre</option>
        <option value="12"> Diciembre</option>
      </select> 
    </ng-container>   
      <button mat-button type="file" (click)="upload()" id="update" >Actualizar meta</button>   
      <button mat-button (click)="Detail()">Ver en detalle</button>   
    </div>

    <div class="card-container" *ngIf="!isNull">             
      <table mat-table [dataSource]="Source" class="mat-elevation-z8" >

        <ng-container matColumnDef="CO" >
          <th mat-header-cell *matHeaderCellDef > CO </th>
          <td mat-cell *matCellDef="let element">
              {{element[0]}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="Venta">
          <th mat-header-cell *matHeaderCellDef > Venta </th>
          <td mat-cell *matCellDef="let element" > 
            {{element[1]}} 
          </td>
        </ng-container>

        <ng-container matColumnDef="Presupuesto" >
          <th mat-header-cell *matHeaderCellDef > Presupuesto </th>
          <td mat-cell *matCellDef="let element" > 
            {{element[2]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Deuda" >
          <th mat-header-cell *matHeaderCellDef > Deuda </th>
          <td mat-cell *matCellDef="let element" > 
            <ng-container *ngIf="element[10]>0; else danger">
              <p style="color:green"><b>{{element[10]}}</b></p>
            </ng-container>
            
            <ng-template #danger>
              <p style="color:#FF0000"><b>{{element[10]}}</b></p>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="Cumplimiento" >
          <th mat-header-cell *matHeaderCellDef > Cumplimiento </th>
          <td mat-cell *matCellDef="let element" > 
            <ng-container *ngIf="Parse(element[3])==2">
              <p style="color: #fcc107 "><b>{{element[3]}}</b></p>
            </ng-container>
  
            <ng-container *ngIf="Parse(element[3])==1">
              <p style="color:green"><b>{{element[3]}}</b></p>
            </ng-container>
            
            <ng-container *ngIf="Parse(element[3])==3">
              <p style="color:#FF0000"><b>{{element[3]}}</b></p>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha corte">
          <th mat-header-cell *matHeaderCellDef > Fecha corte </th>
          <td mat-cell *matCellDef="let element"> 
            {{(element[4].date).substr(0,10)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Presupuesto corte">
          <th mat-header-cell *matHeaderCellDef > Presupuesto corte </th>
          <td mat-cell *matCellDef="let element"> 
            {{element[5]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Cumplimiento corte">
          <th mat-header-cell *matHeaderCellDef > Cumplimiento corte </th>
          <td mat-cell *matCellDef="let element"> 
            <ng-container *ngIf="Parse(element[6])==2">
              <p style="color: #fcc107 "><b>{{element[6]}}</b></p>
            </ng-container>
  
            <ng-container *ngIf="Parse(element[6])==1">
              <p style="color:green"><b>{{element[6]}}</b></p>
            </ng-container>
            
            <ng-container *ngIf="Parse(element[6])==3">
              <p style="color:#FF0000"><b>{{element[6]}}</b></p>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="P. prom">
          <th mat-header-cell *matHeaderCellDef > P. prom </th>
          <td mat-cell *matCellDef="let element"> 
            {{element[7]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="UPF">
          <th mat-header-cell *matHeaderCellDef > UPF </th>
          <td mat-cell *matCellDef="let element"> 
            {{element[8]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="T. prom">
          <th mat-header-cell *matHeaderCellDef > T. prom </th>
          <td mat-cell *matCellDef="let element"> 
            {{element[9]}}
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div> 
  </mat-card-content>
</mat-card>